@import "bootstrap";
@import "font-awesome";



body {
  background-image: image_url('topography.png');
  font-family: 'Castamaran', sans-serif;
}

.booyah-box{
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background:#fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 10px 10px 5px grey;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

.clear {
  clear: both;
}


.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 250px;
  width: 100%;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-shadow: rbga(0, 0, 0, 0.95) 2px 2px;
  background-color: rbga(0, 0, 0, 0.5);
  position: absolute;
  
}


.carousel img {
        object-fit: contain;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  
}

h1 h2 h3 h4 h5 h6 {
  padding: 0;
  margin: 0;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

img {
  width: 100px;
  height: 100px;
}

#map {
        height: 300px;
}

.navbar {
  background-image: image_url('tweed.png');
  
}

.navbar-inverse .navbar-brand {
  color: #ffff80;
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 40px;
}

.picture {
    zoom: 2;
    width: auto;
    font-size: 14px;
    line-height: 1.28571em;
}



ul {
  list-style: none;
}



